.about-container {
    /* background-color: #cbfff5; */
    background-image: url('../../images/background7.jpg');
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    /* overflow: hidden; */
}

.left-side {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    animation: fadeInLeft 1s ease-in-out;
}

.headshot {
    height: 300px;
    width: 300px; 
    border: 5px solid #0d6efd;
    border-radius: 50%;
    animation: fadeInLeft 2s ease-in-out;
}

@keyframes fadeInLeft {
    0% {
    transform: translateX(1000px)
    }
    100% {
    transform: translateX(0)
    }
}

@media screen and (max-width: 1111px) {
    .about-container {
        overflow: auto;
    }
}

@media screen and (max-width: 850px) {
    /* .headshot {
        height: 150px;
        width: 150px;
    } */
    .left-side {
        width: 85%;
    }
}